[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Cython = "==0.29.33"  # Add this for mac os users
pynamodb = "==5.2.1"
boto3 = "==1.22.7"
ulid = "==1.1"
fastapi = "==0.96.0"
fastapi-cloudauth = "==0.4.3"
mangum = "==0.15.0"
lambda-warmer-py = "==0.6.0"
typing-extensions = "==3.10.0.0"
python-dotenv = "==1.0.0"
pydantic = {version = "<2", extras = ["email"]}
lambda-decorators = "==0.6.0"
python-dateutil = "==2.9.0.post0"
requests = "==2.32.3"
pytz = "==2024.2"

[dev-packages]
uvicorn = "==0.14.0"
pre-commit = "==3.3.3"
pytest = "==7.1.1"
pytest-cov = "==3.0.0"
pytest-mock = "==3.10.0"
moto = "==3.1.1"
pylint = "==2.13.8"
pylint-pydantic = "==0.1.8"
httpx = "==0.23.3"
ruff = "==0.0.47"

[requires]
python_version = "3.8"
