@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 231, 75%, 48%;
    --primary-foreground: 210 40% 98%;

    --primary-50: 235, 87%, 97%;
    --primary-100: 235, 81%, 94%;
    --primary-200: 234, 80%, 86%;
    --primary-300: 232, 80%, 74%;
    --primary-400: 231, 79%, 60%;
    --primary-500: 231, 75%, 48%;
    --primary-600: 233, 83%, 39%;
    --primary-700: 234, 82%, 32%;
    --primary-800: 233, 76%, 27%;
    --primary-900: 234, 69%, 24%;
    --primary-950: 236, 68%, 5%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --secondary-orange-50: 15, 86%, 97%;
    --secondary-orange-100: 13, 93%, 94%;
    --secondary-orange-200: 14, 96%, 89%;
    --secondary-orange-300: 13, 96%, 82%;
    --secondary-orange-400: 13, 92%, 66%;
    --secondary-orange-500: 14, 85%, 60%;
    --secondary-orange-600: 13, 73%, 51%;
    --secondary-orange-700: 14, 75%, 42%;
    --secondary-orange-800: 14, 71%, 35%;
    --secondary-orange-900: 14, 64%, 31%;
    --secondary-orange-950: 13, 75%, 15%;

    --secondary-pink-50: 347, 100%, 97%;
    --secondary-pink-100: 347, 100%, 95%;
    --secondary-pink-200: 344, 96%, 90%;
    --secondary-pink-300: 344, 96%, 82%;
    --secondary-pink-400: 342, 95%, 69%;
    --secondary-pink-500: 341, 89%, 60%;
    --secondary-pink-600: 338, 77%, 50%;
    --secondary-pink-700: 336, 83%, 41%;
    --secondary-pink-800: 334, 80%, 35%;
    --secondary-pink-900: 333, 75%, 30%;
    --secondary-pink-950: 334, 88%, 16%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
