@import './typography.css';
@import './colors.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  input,
  textarea {
    -webkit-user-select: text; /* Chrome, Opera, Safari */
    -moz-user-select: text; /* Firefox 2+ */
    -ms-user-select: text; /* IE 10+ */
    user-select: text; /* Standard syntax */
  }
  input:autofill,
  input:autofill:focus,
  input:autofill:hover,
  input:autofill:active,
  input:-webkit-autofill,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: hsl(var(--input));
    -webkit-box-shadow: 0 0 0 30px hsl(var(--input)) inset !important;
  }

  input:-webkit-autofill {
    -webkit-text-fill-color: hsl(var(--foreground)) !important;
  }

  #root {
    width: 100%;
    height: 100vh;
  }

  .clientPage {
    height: 100%;
    max-width: 1080px;
    margin: 0 auto;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
  }

  @media screen and (max-width: 640px) {
    .clientPage {
      padding: 1rem;
    }
  }

  @media screen and (max-width: 424px) {
    .clientPage {
      margin: 0;
    }
  }
}
