@font-face {
  font-family: "Subjectivity";
  src: url("../assets/fonts/subjectivity/Subjectivity-Regular.woff2")
    format("woff2");
}

@font-face {
  font-family: "Raleway";
  src: url("../assets/fonts/raleway/Raleway-VariableFont_wght.ttf")
    format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../assets/fonts/raleway/Raleway-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-style: italic;
}

@layer base {
  * {
    font-family: "Raleway", sans-serif;
  }

  h1 {
    @apply scroll-m-20 text-4xl font-subjectivity font-extrabold tracking-tight lg:text-5xl text-black dark:text-neutrals-50;
  }

  h2 {
    @apply scroll-m-20 text-3xl font-subjectivity font-semibold tracking-tight transition-colors first:mt-0 text-black dark:text-neutrals-50;
  }

  h3 {
    @apply scroll-m-20 text-2xl font-subjectivity font-semibold tracking-tight text-black dark:text-neutrals-50;
  }

  h4 {
    @apply scroll-m-20 text-xl font-subjectivity font-semibold tracking-tight text-black dark:text-neutrals-50;
  }
}
