name: Deploy DurianPy Events Service
on:
  push:
    paths:
      - backend/**
    branches:
      - main
      - stage

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4.1.0
        with:
          audience: sts.amazonaws.com
          aws-region: ap-southeast-1
          role-to-assume: arn:aws:iam::285637954943:role/techtix-github-action-oidc-role
          role-session-name: GithubActionSession

      - name: Get OIDC Token (for debugging)
        id: get-token
        uses: actions/github-script@v6
        with:
          script: |
            const idToken = await core.getIDToken();
            core.info(`OIDC Token: ${idToken}`);
            const decoded = JSON.parse(Buffer.from(idToken.split('.')[1], 'base64').toString());
            core.info(`Decoded OIDC Token Claims: ${JSON.stringify(decoded, null, 2)}`);

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version-file: ".python-version"
      
      - name: Install uv
        uses: astral-sh/setup-uv@v6

      - name: Install dependencies
        run: |
          uv sync --locked --all-extras --dev
        working-directory: backend

      - name: Install Serverless Framework
        run: |
          npm install
          npm install -g serverless@3.40.0
        working-directory: backend

      - name: Deploy with Serverless
        run: |
          if [[ "${{ github.ref }}" == "refs/heads/main" ]]; then
          sls deploy --stage prod --verbose
          elif [[ "${{ github.ref }}" == "refs/heads/stage" ]]; then
          sls deploy --stage dev --verbose
          fi
        working-directory: backend
